.class-1 {
    position: relative;
    left: -13px;
    top: -16px
}
.class-2 {
    background-color: #ffffff;
    
}
.class-3 {
    padding-right: 10px;
    display: inline;
    vertical-align: middle;
    
}
.class-4 {
    padding-top: 15px;
    
}
.class-5 {
    height: auto;
    
}
.class-6 {
    background: radial-gradient(rgba(255,255,255,0.5) 10%, rgba(0,0,0,0) 70%);
    
}
.class-7 {
    display: none;
    
}
.class-8 {
    display: flex;
    align-items: center;
    
}
.class-9 {
    color: Dodgerblue;
    
}
.class-10 {
    margin: 5px;
    color: dodgerblue;
    display: none;
    
}
.class-11 {
    margin-left: auto;
    
}
.class-12 {
    position: sticky;
    top: 160px;
    z-index: 1001;
    
}
.class-13 {
    padding-inline-start: 4px;
    
}
.class-14 {
    break-inside: avoid;
    
}
.class-15 {
    color: rgb(0, 0, 255);
    font-weight: bold;
    
}
.class-16 {
    page-break-inside:avoid
}
.class-17 {
    border: 1px solid rgb(198, 244, 108);
    background: rgb(198, 244, 108);
    color: rgb(26, 31, 62);
    
}
.class-18 {
    padding-bottom: 5px;
    
}
.class-19 {
    margin-left: 10px;
    margin-bottom: 5px;
    
}
.class-20 {
    margin-right: 4px;
    
}
.class-21 {
     color: Dodgerblue;
    
}
.class-22 {
    margin-top: 5px;
    
}
.class-23 {
    position:fixed
}
.class-24 {
    text-align: right;
    
}
.class-25 {
    font-size: 8pt;
    text-align: center;
    
}